.app{
  min-height: 100vh;
  display: grid;
  grid-template-areas: 
  "header"
  "main"
  "footer";
  grid-template-rows: auto 1fr auto;
  background-color: var(--primary-bg);
}
.app.dark{
  --primary-bg:lightgray;
  --footer-bg:darkgray;
}

.header{
  grid-area: header;
}
.main{
  grid-area: main;
}
.footer{
  grid-area: footer;
  background-color:var(--footer-bg);
}